@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Borel', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.commingSoon {

  width: 100%;
  height: 100svh;

}

#CommingSoon_1_{
  overflow: hidden;
}

#StartingAnimations{

  width: 100%;
  height: 100svh;
  background-color: black;

  position: fixed;
}

.font-poppins{

  font-family: 'Poppins', sans-serif;
}

.hello{

  stroke: white;
  stroke-width: 3.2rem;
  stroke-dasharray: 91rem;
  /* stroke-dashoffset: 91rem; */

  /* transition: 2s; */
  animation-name: helloAnimation;
  animation-duration: 2s;
}

@keyframes helloAnimation {
  from{stroke-dashoffset: 91rem;}
  to{stroke-dashoffset: 0rem;}
  
}